@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/helvetica_neue_45.eot"); src:  url("../fonts/helvetica_neue_45.eot?#iefix") format("embedded-opentype"),
        url("../fonts/helvetica_neue_45.woff2") format("woff2"),
        url("../fonts/helvetica_neue_45.woff") format("woff"),
        url("../fonts/helvetica_neue_45.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/helvetica_neue_53.eot"); src:  url("../fonts/helvetica_neue_53.eot?#iefix") format("embedded-opentype"),
url("../fonts/helvetica_neue_53.woff2") format("woff2"),
url("../fonts/helvetica_neue_53.woff") format("woff"),
url("../fonts/helvetica_neue_53.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/helvetica_neue_63.eot"); src:  url("../fonts/helvetica_neue_63.eot?#iefix") format("embedded-opentype"),
url("../fonts/helvetica_neue_63.woff2") format("woff2"),
url("../fonts/helvetica_neue_63.woff") format("woff"),
url("../fonts/helvetica_neue_63.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/helvetica_neue_93.eot"); src:  url("../fonts/helvetica_neue_93.eot?#iefix") format("embedded-opentype"),
url("../fonts/helvetica_neue_93.woff2") format("woff2"),
url("../fonts/helvetica_neue_93.woff") format("woff"),
url("../fonts/helvetica_neue_93.ttf") format("truetype");
}

@font-face {
  font-family: "Idealist";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/idealist_sans_light.eot"); src:  url("../fonts/idealist_sans_light.eot?#iefix") format("embedded-opentype"),
url("../fonts/idealist_sans_light.woff2") format("woff2"),
url("../fonts/idealist_sans_light.woff") format("woff"),
url("../fonts/idealist_sans_light.ttf") format("truetype");
}

@font-face {
  font-family: "Idealist";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src:  url("../fonts/idealist_sans_regular.eot"); src:  url("../fonts/idealist_sans_regular.eot?#iefix") format("embedded-opentype"),
url("../fonts/idealist_sans_regular.woff2") format("woff2"),
url("../fonts/idealist_sans_regular.woff") format("woff"),
url("../fonts/idealist_sans_regular.ttf") format("truetype");
}
