body {
  position: relative;
  font-weight: $w400;
  font-size: $default-font-size;
  line-height: 1.5;
  font-family: $Helvetica;
  color: $black;

  background: url("../img/bg/bg.png") no-repeat center top;
  background-size: cover;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.address {
  display: block;
  font-family: $Idealist;
  font-size: 14px;
  font-weight: $w300;
}
