body {
  position: relative;
  font-weight: $w400;
  font-size: $default-font-size;
  line-height: 1.5;
  font-family: $Helvetica;
  color: $black;

  background: url("../img/bg/bg.png") no-repeat center top;
  background-size: cover;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.main {

}

.page-container {
  width: 1200px;
  margin: 0 auto 0;
}

.page-address {
  position: absolute;
  left: 250px;
  bottom: 47px;
  display: block;
  font-family: $Idealist;
  font-size: 14px;
  font-weight: $w300;
}

.bold {
  font-weight: 700;
}

.title-logo {
  position: relative;
  display: inline-block;
  font-size: 65px;
  text-transform: $up;
  font-weight: $w400;
  text-align: center;
  /*background: url("../img/icons/i-logo-title.svg") no-repeat 394px 14px;*/
  &:before {
    content: url("../img/icons/i-logo-title.svg");
    position: absolute;
    top: 12px;
    left: -48px;
    z-index: -1;
  }
}
