.plan-2 {
  padding-top: 74px;
  padding-left: 290px;
}

.plan-2__title {

}

.plan-2__wrap {
  width: 1050px;
  justify-content: space-between;
  align-items: center;
}

.plan-2__wrap-title {
  margin-bottom: 0;
  line-height: 1.2;
}

.plan-2__views {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.plan-2__item {
  width: 15%;
  margin-right: 170px;
  margin-bottom: 90px;
  text-align: center;
}

.plan-2__item-bottom-none {
  margin-bottom: 30px;
}

.plan-2__item-icon {
  margin-bottom: 15px;

}

.plan-2__item-text {
  position: relative;
  padding-top: 15px;
  font-size: 14px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 167px;
    height: 1px;
    background: #c4c4c4;
  }
}

.plan-2__btn {
  margin-right: 170px;
  padding: 13px 31px;
  font-weight: $w700;
  line-height: 1;
  background: transparent;
  border: 4px solid $green;
  text-transform: $up;
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .plan-2__wrap {
    width: 920px;
  }
}
