.plan-5 {
  padding-top: 74px;
  padding-left: 290px;
}

.plan-5__wrap {
  display: flex;
  justify-content: space-between;
}

.plan-5__left {
  width: 49%;
}

.plan-5__left-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.plan-5__left-square {
  margin-bottom: 28px;
}

.plan-5__left-sec-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.plan-5__left-text {
  margin-bottom: 30px;
}

.plan-5__right {
  width: 49%;
  margin-right: 15px;
}

.plan-5__right-pic {

}

.plan-5__right-img {}

@media (min-width: 1200px) and (max-width: 1365px) {

}
