// Project Variables

$default-font-size: 16px;

// Font Family

$Helvetica: "Helvetica Neue", Arial, Helvetica, sans-serif;
$Idealist: "Idealist", Arial, Helvetica, sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$bg-aside: #1e1e1e;
$green: #428a35;

// Font Weight

$w100: 100;
$w300: 300;
$w400: 400;
$w500: 500;
$w700: 700;
$w900: 900;

// Text Transform

$up: uppercase;
$low: lowercase;
