aside(class="aside")
  div(class="aside__logo-wrap")
    a(href="/")
      svg(class="aside__logo")
        use(xlink:href="#i-logo-aside")
    //picture(class="aside__logo-pic")
    //  source(srcset="/img/logo.webp" type="image/webp")
    //  source(srcset="img/logo.png" type="image/png")
    //  img(class="aside__logo-img" src="img/logo.png" width="174" height="64" alt="Segment Group")
  div(class="aside__wrap")
    nav(class="aside__nav")
      ul(class="aside__nav-list anchors")
        li(class="aside__nav-item")
          a(class="aside__nav-link aside__nav-link--active", href="/#page-1") Услуги
          ul(class="aside__nav-child")
            li(class="aside__nav-child-item")
              a(class="aside__nav-child-link", href="expert.html") Экспертиза
            li(class="aside__nav-child-item")
              a(class="aside__nav-child-link", href="planning.html") Проектирование
        li(class="aside__nav-item")
          a(class="aside__nav-link aside__nav-link_about", href="#page-2") О компании
        li(class="aside__nav-item")
          a(class="aside__nav-link", href="#page-3") Карьера
        li(class="aside__nav-item")
          a(class="aside__nav-link", href="#page-4") Контакты
    div(class="aside__contacts")
      div(class="aside__phone")
        a(class="aside__phone-link", href="tel:+79155648888") 8 915 564 88 88
        span(class="aside__phone-city") (Москва)
      div(class="aside__phone")
        a(class="aside__phone-link", href="tel:+79155648888") 8 915 564 88 88
        span(class="aside__phone-city aside__phone-city_second") (Оренбург)
      a(class="aside__mail-link", href="mailto:info@gksegment.com") info@gksegment.com
      button(class="aside__callback") Связаться с нами
      div(class="aside__social")
        a(class="aside__social-link", href="#")
          svg(class="aside__social-icon")
            use(xlink:href="img/icons.svg#i-instagram")
        a(class="aside__social-link", href="#")
          svg(class="aside__social-icon")
            use(xlink:href="img/icons.svg#i-vk")
        a(class="aside__social-link", href="#")
          svg(class="aside__social-icon")
            use(xlink:href="img/icons.svg#i-fb")
        a(class="aside__social-link", href="#")
          svg(class="aside__social-icon")
            use(xlink:href="img/icons.svg#i-youtube")
