section(class="page-5", id="page-5")
  div(class="page-5__wrap page-container")
    h2(class="page-5__title title-logo") Контакты
    div(class="page-5__block")
      div(class="page-5__item")
        div(class="page-5__item-title") <span="class="page-5__bold">Центральный офис</span> в Москве
        picture(class="page-5__pic")
          source(srcset="img/content/map.webp" type="image/webp")
          source(srcset="img/content/map.png" type="image/png")
          img(class="page-5__map" src="img/content/map.png" width="485" height="311" alt="Центральнй офис в Москве")
        div(class="page-5__contact")
          div(class="page-5__contact-item page-5__contact-address") <span>Адрес:</span> 115088, город Москва, Южнопортовая улица,<br>дом 5 строение 7, эт. 5
          div(class="page-5__contact-item page-5__contact-phone") <span>Телефон:</span> <a href="tel:+74951289928">+7 (495) 128-99-28</a>
          div(class="page-5__contact-item page-5__contact-time") <span>График работы:</span> Пн-Пт  9:00 – 18:00
          div(class="page-5__contact-item page-5__contact-mail") <span>E-mail:</span> <a href="mailto:info@gksegment.com">info@gksegment.com</a>
      div(class="page-5__item")
        div(class="page-5__item-title") <span="class="page-5__bold">Офис</span> в Оренбурге
        picture(class="page-5__pic")
          source(srcset="img/content/map.webp" type="image/webp")
          source(srcset="img/content/map.png" type="image/png")
          img(class="page-5__map" src="img/content/map.png" width="485" height="311" alt="Центральнй офис в Москве")
        div(class="page-5__contact")
          div(class="page-5__contact-item page-5__contact-address") <span>Адрес:</span> 115088, город Москва, Южнопортовая улица,<br>дом 5 строение 7, эт. 5
          div(class="page-5__contact-item page-5__contact-phone") <span>Телефон:</span> <a href="tel:+74951289928">+7 (495) 128-99-28</a>
          div(class="page-5__contact-item page-5__contact-time") <span>График работы:</span> Пн-Пт  9:00 – 18:00
          div(class="page-5__contact-item page-5__contact-mail") <span>E-mail:</span> <a href="mailto:info@gksegment.com">info@gksegment.com</a>
