section(class="page-2 padding-left", id="page-1")
  div(class="page-2__wrap")
    div(class="center")
      h2(class="page-2__title title-logo") Услуги
    div(class="page-2__service")
      a(class="service__item service__item_expert", href="expert.html") Экспертиза
        svg(class="service__item-icon")
          use(xlink:href="#i-service-1")
      a(class="service__item service__item_project", href="planning.html") Проектирование
        svg(class="service__item-icon")
          use(xlink:href="#i-service-2")
