div(class="about owl-carousel" id="page-2")
  section(class="page-3 padding-left")
    div(class="page-3__wrap")
      div(class="center")
        h2(class="page-3__title title-logo") О компании
      div(class="page-3__block")
        div(class="page-3__block-title") Наша миссия
        p(class="page-3__text") Мы даем людям уверенность и надежность, создавая лучшие проектные решения и совершая качественную проверку.
        p(class="page-3__text") Мы — команда профессионалов, работающих для наших клиентов по всей стране.
      div(class="page-3__block page-3__block_last")
        div(class="page-3__block-title") Наше развитие
        p(class="page-3__text") Мы активно развиваемся, открывая новые направления, увеличивая штат высококвалифицированных специалистов и находимся ближе к Вам, открывая новые офисы.
      div(class="page_3__more")
        span(class="page_3__address page-address") г. Москва, ул Смоленская, д.3
    div(class="nav-number__wrap")
      div(class="nav-number__item active") 01
      div(class="nav-number__item") 03
  include page-3-1
  include page-6

