section(class="page-3-1", id="page-3")
  div(class="page-3-1__wrap page-container")
    h2(class="page-3-1__title title-logo") О компании
    div(class="page-3-1__block")
      a(class="page-3-1__link-block page-3__link-block", href="#") Наши ценности
    div(class="page-3-1__flex-block page-4__flex-block")
      div(class="page__3-1-row page__4-row")
        article(class="page-3-1__item page-4__item")
          svg(class="page-3-1__item-icon page-4__item-icon", width="73", height="73")
            use(xlink:href="#i-about-1")
          h2(class="page-3-1__item-title page-4__item-title") Клиент
          p(class="page-3-1__item-text page-4__item-text") Ставим потребности клиента на первое место. Слушаем и слышим клиента. Стремимся заслужить доверие клиента.
        article(class="page-3-1__item page-4__item")
          svg(class="page-3-1__item-icon page-4__item-icon", width="82", height="73")
            use(xlink:href="#i-career-4")
          h2(class="page-3-1__item-title page-4__item-title") Команда
          p(class="page-3-1__item-text page-4__item-text") Уважаем и доверяем друг другу. Помогаем расти и развиваться коллегам. Добиваемся общих целей.
      div(class="page__4-row")
        article(class="page-3-1__item page-4__item")
          svg(class="page-3-1__item-icon page-4__item-icon", width="48", height="75")
            use(xlink:href="#i-about-3")
          h2(class="page-3-1__item-title page-4__item-title") Результат
          p(class="page-3-1__item-text page-4__item-text") Работаем на результат, а не на процесс. Достигаем общих целей, благодаря вкладукаждого сотрудника.Говорим открыто об успехах и неудачах.
        article(class="page-3-1__item page-4__item")
          svg(class="page-3-1__item-icon page-4__item-icon", width="75", height="75")
            use(xlink:href="#i-about-4")
          h2(class="page-3-1__item-title page-4__item-title") Совершенствование
          p(class="page-3-1__item-text page-4__item-text") Открыты к изменениям. Начинаем изменения с себя. Рассматриваем идею каждого сотрудника.
    span(class="page_3__address page-address") г. Москва, ул Смоленская, д.3

