section(class="page-2", id="page-2")
  div(class="page-2__wrap")
    h2(class="page-2__title title-logo") Услуги
    div(class="page-2__service")
      a(class="service__item service__item_expert", href="#") Экспертиза
        svg(class="service__item-icon")
          use(xlink:href="#i-service-1")
      a(class="service__item service__item_project", href="#") Проектирование
        svg(class="service__item-icon")
          use(xlink:href="#i-service-2")
