section(class="page-3", id="page-3")
  div(class="page-3__wrap page-container")
    h2(class="page-3__title title-logo") О компании
    div(class="page-3__block")
      a(class="page-3__link-block", href="#") Наша миссия
      p(class="page-3__text") Мы даем людям уверенность и надежность, создавая лучшие проектные решения и совершая качественную проверку.
      p(class="page-3__text") Мы — команда профессионалов, работающих для наших клиентов по
    div(class="page-3__block")
      a(class="page-3__link-block", href="#") Наше развитие
      p(class="page-3__text") Мы активно развиваемся, открывая новые направления, увеличивая штат высококвалифицированных специалистов и находимся ближе к Вам, открывая новые офисы.
      div(class="page_3__more")
        span(class="page_3__address page-address") г. Москва, ул Смоленская, д.3
