section(class="page-3-1 padding-left", id="page-2-1", data-anchor="Page 3-1")
  div(class="page-3-1__wrap")
    div(class="center")
      h2(class="page-3-1__title title-logo") О компании
    div(class="page-3-1__block")
      div(class="page-3-1__link-block plan-1__advantages-title page-3__link-block") Наши ценности
    div(class="page-3-1__flex-block page-4__flex-block")
      div(class="page__3-1-row page__4-row")
        article(class="page-3-1__item page-4__item")
          img(class="page-3-1__item-icon", src="img/icons/i-about-1.svg", width="73", height="73")
          h2(class="page-3-1__item-title page-4__item-title") Клиент
          p(class="page-3-1__item-text page-4__item-text") Ставим потребности клиента на первое место. Слушаем и слышим клиента. Стремимся заслужить доверие клиента.
        article(class="page-3-1__item page-4__item")
          img(class="page-3-1__item-icon", src="img/icons/i-career-4.svg", width="73", height="73")
          h2(class="page-3-1__item-title page-4__item-title") Команда
          p(class="page-3-1__item-text page-4__item-text") Уважаем и доверяем друг другу. Помогаем расти и развиваться коллегам. Добиваемся общих целей.
      div(class="page__4-row")
        article(class="page-3-1__item page-4__item")
          img(class="page-3-1__item-icon", src="img/icons/i-about-3.svg", width="75", height="75")
          h2(class="page-3-1__item-title page-4__item-title") Результат
          p(class="page-3-1__item-text page-4__item-text") Работаем на результат, а не на процесс. Достигаем общих целей, благодаря вкладукаждого сотрудника.Говорим открыто об успехах и неудачах.
        article(class="page-3-1__item page-4__item")
          svg(class="page-3-1__item-icon page-4__item-icon", width="75", height="75")
            use(xlink:href="#i-about-4")
          h2(class="page-3-1__item-title page-4__item-title") Совершенствование
          p(class="page-3-1__item-text page-4__item-text") Открыты к изменениям. Начинаем изменения с себя. Рассматриваем идею каждого сотрудника.
    span(class="page_3__address page-address") г. Москва, ул Смоленская, д.3
  div(class="nav-number__wrap")
    div(class="nav-number__item active") 02
    div(class="nav-number__item") 03

