section(class="page-6", id="page-2-2")
  div(class="page-4-1__wrap")
    div(class="center")
      h2(class="page-4-1__title title-logo") О компании
    div(class="page-4-1__block")
      span(class="page-4-1__link-block page-3__link-block") Наша команда
  div(class="page-6__wrap")
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-1.webp" type="image/webp")
        source(srcset="img/content/staff-1.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-1.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-2.webp" type="image/webp")
        source(srcset="img/content/staff-2.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-2.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-3.webp" type="image/webp")
        source(srcset="img/content/staff-3.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-3.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-4.webp" type="image/webp")
        source(srcset="img/content/staff-4.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-4.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-5.webp" type="image/webp")
        source(srcset="img/content/staff-5.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-5.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-6.webp" type="image/webp")
        source(srcset="img/content/staff-6.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-6.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-7.webp" type="image/webp")
        source(srcset="img/content/staff-7.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-7.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-8.webp" type="image/webp")
        source(srcset="img/content/staff-8.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-8.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-9.webp" type="image/webp")
        source(srcset="img/content/staff-9.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-9.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-10.webp" type="image/webp")
        source(srcset="img/content/staff-10.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-10.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-11.webp" type="image/webp")
        source(srcset="img/content/staff-11.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-11.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-12.webp" type="image/webp")
        source(srcset="img/content/staff-12.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-12.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-13.webp" type="image/webp")
        source(srcset="img/content/staff-13.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-13.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-14.webp" type="image/webp")
        source(srcset="img/content/staff-14.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-14.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-15.webp" type="image/webp")
        source(srcset="img/content/staff-15.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-15.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-16.webp" type="image/webp")
        source(srcset="img/content/staff-16.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-16.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-17.webp" type="image/webp")
        source(srcset="img/content/staff-17.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-17.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-18.webp" type="image/webp")
        source(srcset="img/content/staff-18.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-18.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-19.webp" type="image/webp")
        source(srcset="img/content/staff-19.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-19.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-20.webp" type="image/webp")
        source(srcset="img/content/staff-20.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-20.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
    div(class="page-6__item")
      picture(class="page-6__right-pic")
        source(srcset="/img/content/staff-21.webp" type="image/webp")
        source(srcset="img/content/staff-21.png" type="image/png")
        img(class="plan-5__right-img" src="img/content/staff-21.png" width="173" height="203"  alt="Staff")
      div(class="page-6__descr")
        div(class="page-6__name") Колендин Алексей
        div(class="page-6__text") Управляющий партнер
  div(class="nav-number__wrap")
    div(class="nav-number__item active") 03
    div(class="nav-number__item") 03
