section(class="page-2", id="two")
  div(class="page-2__wrap")
    h2(class="page-2__title title-logo") Услуги
    div(class="page-2__service")
      a(class="service__item service__item_expert", href="#") Экспертиза
      a(class="service__item service__item_project", href="#") Проектирование
