section(class="page-4-1", id="page-5")
  div(class="page-4-1__wrap page-container")
    h2(class="page-4-1__title title-logo") Карьера
    div(class="page-4-1__block")
      a(class="page-4-1__link-block page-3__link-block", href="#") Вакансии
    div(class="page-4-1__flex")
      div(class="vacancy__item")
        div(class="vacancy__item-title") Эксперт проектной документации
        p(class="vacancy__item-text") Хочешь работать с крупными и интересными проектами? Знаешь как применить все свои знания и навыки при проверке проектной документации? Умеешь работать для клиента?
        p(class="vacancy__item-text") Мы работаем с крупнейшими застройщиками, промышленными холдингами и проектными организациями по всей России. Тщательная проверка и помощь заказчику – основная цель экспертов.
        p(class="vacancy__item-text") Готов быть полезным клиенту? Готов применять профессиональные знания? Готов работать с большим объемом информации?
        p(class="vacancy__item-text vacancy__item-text_bold") Получи работу в современном офисе с официально высоким доходом, проверяя от 20 проектов в месяц!
        button(class="vacancy__btn") Оставить отклик
      div(class="vacancy__item")
        div(class="vacancy__item-title") Менеджер проектов
        p(class="vacancy__item-text") Считаешь что достойную работу не получить без связей? Хочешь иметь влиятельных знакомых? Мечты о больших доходах?
        p(class="vacancy__item-text") Строительная отрасль одна из самых экономически развитых! Услуги, которые предоставляют наши специалисты обязательны по законодательству РФ. Мы работаем с интересными проектами, изучаем новые направления, сотрудничаем с крупнейшими застройщиками, промышленными холдингами, проектными организациями по всей России!
        p(class="vacancy__item-text") Готов развиваться в продажах? Готов применять свои навыки? Готов достигать конкретных целей?
        p(class="vacancy__item-text") Получи работу с высоким доходом, карьерным ростом и обучением за счет компании!
        button(class="vacancy__btn") Оставить отклик
      div(class="vacancy__item")
        div(class="vacancy__item-title") Инженер-проектировщик
        p(class="vacancy__item-text") Хочешь работать с масштабными проектами? Знаешь как применить все свои знания и навыки при разработке проектной документации? Умеешь работать для клиента?
        p(class="vacancy__item-text") Мы работаем с крупными объектами промышленного и гражданского назначения, применяя все новейшие технологии для разработки проектов.
        p(class="vacancy__item-text") Готов работать с разными проектами? Готов применять свой опыт и изучать новое? Готов стать частью профессиональной команды?
        p(class="vacancy__item-text") Получи работу в высококвалифицированной команде, с возможностью карьерного роста в течение 1 года!
        button(class="vacancy__btn") Оставить отклик
    div(class="page_4__more")
      span(class="page_4__address page-address") г. Москва, ул Смоленская, д.3
