section(class="page-1 padding-left")
  div(class="page-1__wrap")
    div(class="page-1__right")
      h1(class="page-1__title") Segment Group
      p(class="page-1__text") <span class="bold">Segment Group</span> - компания, занимающаяся разработкой проектной документации и проведением негосударственной экспертизы проектной документации и результатов инженерных изысканий.
      p(class="page-1__text") Наша команда работает на всей территории России, включая регионы с вечной мерзлотой, высокой сейсмической активностью и другими экстремальными условиями.
    div(class="page_1__more")
      a(class="page-1__more-link", href="#") Узнать подробнее
      span(class="page_1__address page-address") г. Москва, ул Смоленская, д.3
