div(class="career" id="page-3")
  section(class="page-4 padding-left")
    div(class="page-4__wrap")
      div(class="center")
        h2(class="page-4__title title-logo") Карьера
      p(class="page-4__text") Мы ценим своих сотрудников и создаем возможности для развития каждого нашего специалиста. Для нас важно, чтобы каждый сотрудник получала удовольствие от рабочего процесса и достижения намеченных целей.
      div(class="page-4__flex-block")
        div(class="page__4-row")
          article(class="page-4__item")
            img(class="page-4__item-icon", src="img/icons/i-career-1.svg", width="42", height="42")
            h2(class="page-4__item-title") Стабильность
            p(class="page-4__item-text") Выполняем свои обязательства перед сотрудниками и награждаем за выдающиеся результаты.
          article(class="page-4__item")
            svg(class="page-4__item-icon", width="42", height="42")
              use(xlink:href="img/icons.svg#i-career-2")
            h2(class="page-4__item-title") Карьерный рост
            p(class="page-4__item-text") Помогаем вырасти в высококвалифицированного специалиста и достигнуть руководящих позиций и изучить новые направления.
        div(class="page__4-row page__4-row_last")
          article(class="page-4__item")
            img(class="page-4__item-icon", src="img/icons/i-career-3.svg", width="52", height="52")
            h2(class="page-4__item-title") Развитие
            p(class="page-4__item-text") Совершенствуем свои навыки и знания, передавая их от сотрудника к сотруднику.
          article(class="page-4__item")
            img(class="page-4__item-icon", src="img/icons/i-career-4.svg", width="52", height="52")
            h2(class="page-4__item-title") Команда
            p(class="page-4__item-text") Поддерживаем друг друга и несем ответственность за результат, достигнутый всей командой.
      div(class="page_4__more")
        span(class="page_4__address page-address") г. Москва, ул Смоленская, д.3
  //include page-4-1
