script(src="js/lib/jquery/jquery-3.5.1.min.js")
script(src="js/lib/popper/popper.min.js")
script(src="js/lib/bootstrap/bootstrap.min.js")
script(src="js/lib/modernizr/modernizr-webp.min.js")
script(src="js/script.min.js")
