section(class="plan-2" id="plan-2")
  div(class="center")
    h1(class="plan-2__title plan-1__title title-logo") Проектирование
  a(class="plan-1__back", href="#")
    svg(class="plan-1__icon")
      use(xlink:href="#i-back")
    span(class="plan-1__back-text") Назад к услугам
  div(class="plan-2__wrap plan-1__wrap")
    h2(class="plan-2__wrap-title plan-1__advantages-title") Виды проектирования
    div(class="planning__phone") + 7 (495) 128-99-28
  div(class="plan-2__views")
    div(class="plan-2__item")
      svg(class="plan-2__item-icon" width="91" height="76")
        use(xlink:href="#i-view-1")
      div(class="plan-2__item-text") Промышленные объекты
    div(class="plan-2__item")
      svg(class="plan-2__item-icon" width="66" height="76")
        use(xlink:href="#i-view-2")
      div(class="plan-2__item-text") Жилые дома
    div(class="plan-2__item")
      svg(class="plan-2__item-icon" width="76" height="76")
        use(xlink:href="#i-view-3")
      div(class="plan-2__item-text") Коммерческие объекты
    div(class="plan-2__item plan-2__item-bottom-none")
      svg(class="plan-2__item-icon" width="74" height="74")
        use(xlink:href="#i-view-4")
      div(class="plan-2__item-text") Социальные и административно-бытовые объекты
    div(class="plan-2__item plan-2__item-bottom-none")
      svg(class="plan-2__item-icon" width="103" height="76")
        use(xlink:href="#i-view-5")
      div(class="plan-2__item-text") Агропромышленные объекты
    div(class="plan-2__item plan-2__item-bottom-none")
      svg(class="plan-2__item-icon" width="73" height="76")
        use(xlink:href="#i-view-6")
      div(class="plan-2__item-text") Линейные объекты
  div(class="center")
    button(class="plan-2__btn") Рассчитать услугу

