div(class="planning-carousel owl-carousel")
  section(class="plan-1" id="plan-1")
    div(class="center")
      h1(class="plan-1__title title-logo") Проектирование
    a(class="plan-1__back", href="#")
      svg(class="plan-1__icon")
        use(xlink:href="#i-back")
      span(class="plan-1__back-text") Назад к услугам
    div(class="plan-1__wrap")
      p(class="plan-1__text") Разрабатываем проектную документацию любой сложности с гарантией прохождения экспертизы
      div(class="planning__phone") + 7 (495) 128-99-28
    div(class="plan-1__advantages")
      h2(class="plan-1__advantages-title") Преимущества
      div(class="plan-1__advantages-wrap")
        div(class="plan-1__advantages-item")
          div(class="plan-1__advantages-number") <span class="green">17</span> лет
          div(class="plan-1__advantages-text") Средний опыт работы наших<br>инженеров
        div(class="plan-1__advantages-item")
          div(class="plan-1__advantages-number") <span class="green">12</span> лет
          div(class="plan-1__advantages-text") Инженеров, работающих в офисе<br>компании
        div(class="plan-1__advantages-item")
          div(class="plan-1__advantages-number") <span class="green">3</span> года
          div(class="plan-1__advantages-text") Работаем для Вас
        div(class="plan-1__advantages-item")
          div(class="plan-1__advantages-number") <span class="green">38</span>
          div(class="plan-1__advantages-text") Благодарных Заказчиков
        div(class="plan-1__advantages-item")
          div(class="plan-1__advantages-number") < <span class="green">230 000</span> м2
          div(class="plan-1__advantages-text") Разработано проектной<br>документации нашей командой
  include plan-2
  include plan-3
  include plan-4
  include plan-5
  include plan-6
