.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  z-index: 99999;
  color: $white;
  a {
    color: $white;
  }
}

.aside__logo-wrap {
  margin: 30px 0;
  text-align: center;
}

.aside__logo-img {
  margin-left: 5px;
}

.aside__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $bg-aside;
  height: 100vh;
}

.aside__nav {
  padding: 55px 30px;
}

.aside__nav-list {
  padding-left: 0;
  list-style: none;
}

.aside__nav-item:not(:last-child) {
  margin-bottom: 12px;
}

.aside__nav-link {
  font-family: $Idealist;
  text-transform: $up;
}

.aside__nav-child {
  display: none;
  list-style: none;
  padding-left: 15px;
  &_service {
    display: block;
  }
}

.aside__nav-child-link {
  font-family: $Idealist;
  text-transform: $up;
}

.aside__contacts {
  margin-bottom: 147px;
  padding: 12px 0;
  border-top: 2px solid $white;
  text-align: center;
}

.aside__phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
  padding: 0 15px;
  &:first-child {
    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 74px;
      height: 1px;
      background: $white;
    }
  }
  &:nth-child(2) {
    margin-bottom: 21px;
  }
}

.aside__phone-link {
  display: inline-block;
  font-size: 16px;
  font-weight: $w300;
  &:hover {
    text-decoration: none;
  }
}

.aside__phone-city {
  padding-right: 19px;
  padding-bottom: 3px;
  font-size: 12px;
  &_second {
    padding-right: 14px;
  }
}

.aside__mail-link {
  display: inline-block;
  margin-bottom: 33px;
  font-size: 14px;
}

.aside__callback {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 16px;
  font-size: 14px;
  color: $white;
  background: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    color: $black;
    background: $white;
  }
}

.aside__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aside__social-link:not(:last-child) {
  margin-right: 22px;
}

.aside__social-link {
  &:last-child {
    padding-top: 7px;
  }
  &:hover {
    opacity: 0.6;
  }
}

.aside__social-icon {
  width: 20px;
  height: 20px;
}
