.page-3-1 {

}

.page-3-1__wrap {
  padding-top: 65px;
}

.page-3-1__title {
  margin-bottom: 66px;
  margin-left: 520px;
  color: #414141;
}

.page-3-1__block {
  margin-bottom: 41px;
  padding-left: 170px;
}

.page-3-1__link-block {

}

.page-3-1__flex-block {
  margin-left: 238px;
}

.page__3-1-row {
  margin-bottom: 35px;
}

.page-3-1__item {
  text-align: center;
}

.page-3-1__item-icon {
  margin-bottom: 16px;
}

.page-3-1__item-title {
  margin-bottom: 10px;
}

.page-3-1__item-text {

}

@media (min-width: 1200px) and (max-width: 1368px) {
  .page-3-1__block {
    padding-left: 260px;
  }
}
