.page-5 {
  padding-top: 83px;
  padding-left: 250px;
}

.page-5__wrap {


}

.page-5__title {
  margin-bottom: 56px;
  color: #414141;
}

.page-5__block {
  display: flex;
  margin-left: 59px;
}

.page-5__item:not(:last-child) {
  margin-right: 80px;
}

.page-5__item-title {
  position: relative;
  margin-bottom: 35px;
  font-size: 25px;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 1px;
    background: #c4c4c4;
  }
  /*border-bottom: 1px solid #C4C4C4;*/
}

.page-5__bold {
  margin-left: 182px;
  font-weight: $w500;
  color: #414141;
}

.page-5__pic {
  display: block;
  margin-bottom: 26px;
}

.page-5__map {

}

.page-5__contact {
  padding-left: 28px;
  font-size: 14px;
  font-weight: $w300;
  text-align: left;
}

.page-5__contact-item {
  margin-bottom: 8px;
  span {
    font-weight: $w500;
  }
  a {
    color: $black;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1368px) {
  .page-5__title {
    margin-bottom: 50px;
  }
  .page-5__block {
    justify-content: center;
    margin-left: 0;
  }
  .page-5__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1920px) {

  .page-5__block {
    justify-content: center;
    margin-left: 0;
  }

}
