.page-4 {

}

.page-4__wrap {
  padding-top: 65px;
  text-align: center;
}

.page-4__title {
  margin-left: 316px;
  margin-bottom: 64px;
}

.page-4__text {
  margin-left: 203px;
  margin-bottom: 70px;
  font-size: 20px;
  text-align: left;
  line-height: 1.75;
}

.page-4__flex-block {
  width: 855px;
  margin-left: 250px;
}

.page__4-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-4__item {
  width: 295px;
}

.page-4__item-icon {
  display: inline-block;
  margin-bottom: 13px;
}

.page-4__item-title {
  margin-bottom: 18px;
  padding-bottom: 8px;
  font-size: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.page-4__item-text {
  font-size: 14px;
  color: #666666;
}
