.page-3-1 {
  padding-top: 84px;
}

.page-3-1__wrap {

}

.page-3-1__title {
  margin-bottom: 63px;
  color: #414141;
}

.page-3-1__block {
  margin-bottom: 3px;
}

.page-3-1__link-block {
  font-size: 32px;
}

.page-3-1__flex-block {
  margin-left: 72px;
}

.page__3-1-row {
  margin-bottom: 35px;
}

.page-3-1__item {
  text-align: center;
}

.page-3-1__item-icon {
  margin-bottom: 16px;
}

.page-3-1__item-title {
  margin-bottom: 10px;
}

.page-3-1__item-text {

}

@media (min-width: 1200px) and (max-width: 1368px) {
  .page-3-1__block {
    padding-left: 0;
  }
}

@media(min-width: 1920px) {

  .page-3-1__flex-block {
    margin-bottom: 72px;
  }

}
