section(class="plan-5 expert-4" id="plan-4")
  div(class="center")
    h1(class="plan-2__title plan-1__title title-logo") Экспертиза
  a(class="plan-1__back", href="#")
    svg(class="plan-1__icon")
      use(xlink:href="#i-back")
    span(class="plan-1__back-text") Назад к услугам
  div(class="plan-2__wrap plan-1__wrap")
    h2(class="plan-2__wrap-title plan-1__advantages-title") Наши объекты
    div(class="planning__phone") + 7 (495) 128-99-28
  div(class="objects owl-carousel")
    div(class="plan-5__wrap")
      div(class="plan-5__left")
        div(class="plan-5__left-title") Консервный комбинат Ахтуба
        div(class="plan-5__left-square") Площадь застройки: 41 000 м2<br>Площадь объекта: 44 000 м2
        div(class="plan-5__left-sec-title") Услуга:
        p(class="plan-5__left-text") Экспертиза проектной документации и результатов инженерных изысканий
        div(class="plan-5__left-sec-title") Виды работ:
        p(class="plan-5__left-text") Строительство консервного завода по хранению и первичной переработке сельскохозяйственной (плодоовощной) продукции и увеличение объемов производства сельскохозяйственной (плодоовощной) продукции на территории Среднеахтубинского района.
        p(class="plan-5__left-text") Строительство консервного завода по хранению и первичной переработке сельскохозяйственной (плодоовощной) продукции и увеличение объемов производства сельскохозяйственной (плодоовощной) продукции на территории Среднеахтубинского района.
      div(class="plan-5__right")
        picture(class="plan-5__right-pic")
          source(srcset="/img/content/object.webp" type="image/webp")
          source(srcset="img/content/object.png" type="image/png")
          img(class="plan-5__right-img" src="img/content/object.png" width="557" height="403"  alt="Object")
    div(class="plan-5__wrap")
      div(class="plan-5__left")
        div(class="plan-5__left-title") Консервный комбинат Ахтуба 2
        div(class="plan-5__left-square") Площадь застройки: 41 000 м2<br>Площадь объекта: 44 000 м2
        div(class="plan-5__left-sec-title") Услуга:
        p(class="plan-5__left-text") Экспертиза проектной документации и результатов инженерных изысканий
        div(class="plan-5__left-sec-title") Виды работ:
        p(class="plan-5__left-text") Строительство консервного завода по хранению и первичной переработке сельскохозяйственной (плодоовощной) продукции и увеличение объемов производства сельскохозяйственной (плодоовощной) продукции на территории Среднеахтубинского района.
      div(class="plan-5__right")
        picture(class="plan-5__right-pic")
          source(srcset="/img/content/object.webp" type="image/webp")
          source(srcset="img/content/object.png" type="image/png")
          img(class="plan-5__right-img" src="img/content/object.png" width="557" height="403"  alt="Object")
