section(class="plan-1 expert-1" id="plan-1")
  div(class="center")
    h1(class="plan-1__title title-logo") Экспертиза
  a(class="plan-1__back", href="#")
    svg(class="plan-1__icon")
      use(xlink:href="#i-back")
    span(class="plan-1__back-text") Назад к услугам
  div(class="plan-1__wrap")
    p(class="expert-1__text plan-1__text") Федеральная организация по негосударственной экспертизепроектной документации и результатов инженерных изысканий
    div(class="planning__phone") + 7 (495) 128-99-28
  div(class="plan-1__advantages")
    h2(class="plan-1__advantages-title") Преимущества
    div(class="plan-1__advantages-wrap")
      div(class="plan-1__advantages-item")
        div(class="plan-1__advantages-number") <span class="green">18</span>
        div(class="plan-1__advantages-text") Аттестованных экспертов,<br>работающих в офисе компании
      div(class="plan-1__advantages-item")
        div(class="plan-1__advantages-number") Через <span class="green">2</span> дня
        div(class="plan-1__advantages-text") Выдаем первичные замечания
      div(class="plan-1__advantages-item")
        div(class="plan-1__advantages-number") от <span class="green">20</span>
        div(class="plan-1__advantages-text") Ежемесячно выдаем положительных<br>заключений
      div(class="plan-1__advantages-item")
        div(class="plan-1__advantages-number") За <span class="green">1</span> день
        div(class="plan-1__advantages-text") Загружаем документацию в<br>ЕГРЗ
      div(class="plan-1__advantages-item")
        div(class="plan-1__advantages-number") < <span class="green">1 750 000</span> м2
        div(class="plan-1__advantages-text") Проверено экспертами проектной<br>документации
