section(class="expert-3 plan-3" id="plan-3")
  div(class="center")
    h1(class="plan-2__title plan-1__title title-logo") Экспертиза
  a(class="plan-1__back", href="#")
    svg(class="plan-1__icon")
      use(xlink:href="#i-back")
    span(class="plan-1__back-text") Назад к услугам
  div(class="plan-2__wrap plan-1__wrap")
    h2(class="plan-2__wrap-title plan-1__advantages-title") Этапы работы
    div(class="planning__phone") + 7 (495) 128-99-28
  div(class="expert-3__scheme plan-3__scheme")
    div(class="plan-3__scheme-item plan-3__scheme-item_1 plan-3__scheme-item_bottom")
      div(class="plan-3__scheme-title") 1 этап
      div(class="plan-3__scheme-text") Подписание договора<br>и оплата аванса
      div(class="plan-3__tooltip")
        div(class="plan-3__tooltip-title") Получение ИРД:
        p(class="plan-3__tooltip-text") Необходимо предоставить исходные данные для выполнения проектной документации (ПД) (при необходимости готовы подготовить исходные данные): Градостроительный план земельного участка (ГПЗУ); ТЗ на проектирование; Предварительные технические условия (ТУ) на инженерные сети.
        p(class="plan-3__tooltip-text") После предоставления Вами исходных данных полностью или частично, мы направляем Вам письмо Входного контроля, которое содержит информацию о полноте предоставленных данных и какие данные еще необходимо предоставить.
    div(class="plan-3__scheme-item plan-3__scheme-item_2")
      div(class="plan-3__scheme-title") 2 этап
      div(class="plan-3__scheme-text") Получение проектной<br>документации от заказчика<br>(2 варианта)
    div(class="plan-3__scheme-item plan-3__scheme-item_3 plan-3__scheme-item_bottom")
      div(class="plan-3__scheme-title") 3 этап
      div(class="plan-3__scheme-text") Выставление замечаний
    div(class="plan-3__scheme-item plan-3__scheme-item_4")
      div(class="plan-3__scheme-title") 4 этап
      div(class="plan-3__scheme-text") Отработка замечаний
    div(class="plan-3__scheme-item plan-3__scheme-item_5 plan-3__scheme-item_bottom")
      div(class="plan-3__scheme-title") 5 этап
      div(class="plan-3__scheme-text") Приём документации<br>с исправленными замечаниями
    div(class="plan-3__scheme-item plan-3__scheme-item_6")
      div(class="plan-3__scheme-title") 6 этап
      div(class="plan-3__scheme-text") Подготовка сводного<br>заключения
    div(class="plan-3__scheme-item plan-3__scheme-item_7 plan-3__scheme-item_bottom")
      div(class="plan-3__scheme-title") 7 этап
      div(class="plan-3__scheme-text") Загрузка в ЕГРЗ
    div(class="plan-3__scheme-item plan-3__scheme-item_8 plan-3__scheme-item_flag")
      div(class="plan-3__scheme-title") 8 этап
      div(class="plan-3__scheme-text") Выдача положительного<br>заключения
