doctype html
html(lang="ru")
  head
    include pug/head
  body
    include pug/icons
    include pug/aside
    main(class="main")
      div(class="docSlider")
        include pug/expert/expert-1
        //include pug/expert/expert-2
        //include pug/expert/expert-3
        //include pug/expert/expert-4
        //include pug/expert/expert-5
    include pug/script
