doctype html
html(lang="ru")
  head
    include pug/head
  body
    h1 Segment Group
    //picture
    //  source(srcset="/img/content/man.webp" type="image/webp")
    //  source(srcset="img/content/man.png" type="image/png")
    //  img(src="img/content/man.png" width="800" height="532" alt="Man")
    include pug/script
