doctype html
html(lang="ru")
  head
    include pug/head
  body
    include pug/aside
    main(class="main")
      div(class="docSlider")
        include pug/page-1
        include pug/page-2
    include pug/script
