doctype html
html(lang="ru")
  head
    include pug/head
  body
    include pug/icons
    include pug/aside
    main(class="main")
      div(class="docSlider")
        include pug/planning/plan-1
        include pug/planning/plan-2
    include pug/script
